.navigation {
  background: black;
}
.logo {
  background: var(--color2);
  text-align: center;
}
.navigation-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.navigation ul {
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
}
.navigation a li {
  color: white;
}
.nav-active {
  background: var(--color1);
  border-radius: 16px;
  height: 100%;
}
