:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background: var(--color2);
  --color2: #121212;
  --color1: rgb(255, 141, 34);
  --small: 8px;
  --medium: 16px;
  --high: 24px;
}
::selection {
  color: #121212;
  background: var(--color1);
}
h1 {
  padding: var(--small);
  text-shadow: 3px 3px 0 var(--color1);
}
